.btns {
    border-radius: 15px;
    margin-left: 15px;
    margin-top: 20px;
    border: none;
    background-color: cadetblue;
    color: blanchedalmond;
    padding: 11px;
}

.titles {
    color: brown;
    font-size: 20px;
}
